# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>

### Int & Float Assignments

##### Assigning int

In [5]:
# variable_name = value

num_int = 5

print(num_int)
print(type(num_int))

5
<class 'int'>

##### Assinging float

In [6]:
num_float = 5.67

print(num_float)
print(type(num_float))

5.67
<class 'float'>

In [10]:
# The decimal (.) is what tells Python to make this a float
another_float = 6.

print(another_float)
print(type(another_float))

6.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [28]:
# Uses the Plus Operator (+)
num1 = 13
num2 = 8.

# int + int => int
# float + float => float
# float + int => float

result = num1 + num2

print(result)
print(type(result))

21.0
<class 'float'>

In [29]:
# += assignment operator

result += 10 # result = result + 10

print(result)
print(type(result))

31.0
<class 'float'>

##### Subtraction

In [30]:
# Uses the Minus Operator (-)

result_diff = num1 - num2
print(result_diff)


# -= assignment operator
result_diff -= 2 # result_diff = result_diff - 2
print(result_diff)

5.0
3.0

##### Multiplication

In [36]:
# Uses the star or asterisk (*)

result_prod = 10 * 6
print(result_prod)


# *= assignment operator
result_prod *= 3

print(result_prod)

60
180

##### Division

In [33]:
# Uses the forward slash (/)

# Always results in a float

result_div = 50 / 5
print(result_div)
print(type(result_div))


# /= assignment operator
result_div /= 2 # result_div = result_div / 2
print(result_div)

10.0
<class 'float'>
5.0

##### Floor Division

In [42]:
# floor is defined as the highest integer that less than or equal to the value

result_normal = 15 / 4
print(result_normal)


# Uses the double forward slash (//)

result_floor = 15 // 4
print(result_floor)
print(type(result_floor))


# //= assignment operator

result_floor //= 2
print(result_floor)

3.75
3
<class 'int'>
1

##### Modulo

In [45]:
# Uses the percent operator (%)
# Will return the REMAINDER of a division problem

num3 = 48
num4 = 5

result_mod = num3 % num4
print(result_mod)


# %= assignment operator
result_mod %= 2 # result_mod = result_mod % 2
print(result_mod)

3
1

##### Exponential

In [47]:
# Uses the double-asterisk (**)

num5 = 3
num6 = 2

cubed = num6 ** num5 # num6 raised to the num5 power

print(cubed)

# **= assignment operator
cubed **= 3

print(cubed)

8
512

### String Input-Output

##### String Assignment

In [48]:
name1 = "Brian"
print(name1)
print(type(name1))

Brian
<class 'str'>

In [49]:
name2 = 'Stanton'
print(name2)
print(type(name2))

Stanton
<class 'str'>

In [50]:
# NEED THE QUOTATION MARKS!
wrong = astring

NameError: name 'astring' is not defined

In [51]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [53]:
contraction2 = 'You can't do that'
print(contraction2)

SyntaxError: unterminated string literal (detected at line 1) (1937463103.py, line 1)

##### Escape Characters

In [54]:
# backslash - read the next line as literal
contraction3 = 'You can\'t do that'
print(contraction3)

You can't do that

In [55]:
quote1 = 'He said, "Hello, how are you?"'
print(quote1)

He said, "Hello, how are you?"

In [56]:
quote2 = "He said, \"Hello, how are you?\""
print(quote2)

He said, "Hello, how are you?"

##### Multi-line strings

In [58]:
# Triple-quoted string - that start and end with 3 quotation marks

multiline = '''This is the first line
This is the second line
and here is the final line'''

print(multiline)

This is the first line
This is the second line
and here is the final line

In [59]:
multiline = """This is the first line
This is the second line
and here is the final line"""

print(multiline)

This is the first line
This is the second line
and here is the final line

In [60]:
# \n - newline
new_multi = "Hello\nMy name is Brian"
print(new_multi)

Hello
My name is Brian

In [61]:
# \t - tab
tabbed = "Hello\tWorld"
print(tabbed)

Hello	World

In [65]:
letter = "Dear Friend,\n\tI hope this letter finds you well."

print(letter)

Dear Friend,
	I hope this letter finds you well.

In [66]:
# Raw String
raw = r"Dear Friend,\n\tI hope this letter finds you well"
print(raw)

Dear Friend,\n\tI hope this letter finds you well

In [69]:
var_name = r"cat\b"
print(var_name)

cat\b

In [70]:
print(type(var_name))

<class 'str'>

##### String Concatenation

In [75]:
first_name = 'John'
last_name = 'Smith'

# Plus Operator (+) between two strings returns a new string concatenated together
full_name = first_name + ' ' + last_name

print(full_name)

# += works for strings too!
full_name += ', Jr.' # full_name = full_name + ', Jr.'

print(full_name)

John Smith
John Smith, Jr.

In [78]:
num_a = 10.
num_b = '10'

num_c = num_a + num_b
print(num_c)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [81]:
num_a = '10'
num_b = 10

num_c = num_a + num_b
print(num_c)

TypeError: can only concatenate str (not "int") to str

##### Type Conversion

In [82]:
print(type(num_a))
print(type(num_b))

<class 'str'>
<class 'int'>

In [86]:
# To convert, call the built-in type function e.g. str for String, int for Integers, etc. - will return a new value

num_a_as_int = int(num_a)
print(type(num_a_as_int))

num_c_add = num_a_as_int + num_b
print(num_c_add)

print(type(num_a))

<class 'int'>
20
<class 'str'>

In [85]:
city = 'Chicago'
city_as_int = int(city)

ValueError: invalid literal for int() with base 10: 'Chicago'

In [88]:
num_b_as_string = str(num_b)

print(type(num_b_as_string))

num_c_concat = num_a + num_b_as_string
print(num_c_concat)

<class 'str'>
1010

In [89]:
num_c = int(num_a) + num_b
print(num_c)

20

In [90]:
num_c_again = num_a + str(num_b)
print(num_c_again)

1010

In [91]:
num_a_float = float(num_a)
print(type(num_a_float))

<class 'float'>

##### .format() and f-strings

In [92]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [102]:
name = 'Ripal'
last = 'Patel'
age = 57
city = 'New York'

my_info = "Hello my name is {} {} and I am {} years old and I am from {}".format(name, last,age, city)
print(my_info)

Hello my name is Ripal Patel and I am 57 years old and I am from New York

In [103]:
# f-string - another way of formatting string = uses curly bracces {} with variable names in them

my_info2 = f"Hello my name is {name} {last} and I am {age} years old and I am from {city}"
print(my_info2)

Hello my name is Ripal Patel and I am 57 years old and I am from New York

##### Old Way (python 2)

In [104]:
print("Hello my name is %s and I am from %s" % (name, city))

Hello my name is Ripal and I am from New York

In [107]:
result = 10 + 5

print("The result is %i" % result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [117]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

print(f"I drive a {color} {int(year) + 1} {make} {model}")

print("I drive a {} {} {} {}".format(color, int(year) + 1, make, model))

I drive a blue 2023 Ford Focus
I drive a blue 2023 Ford Focus

### Booleans

In [118]:
bool_true = True

print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [119]:
bool_false = False

print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [120]:
# if <expression>:
#     <statement>

# INDENTATION MATTERS!!!!!!! Lines indented under the if will only run if the condition is true!

if True:
    print('Hello this is true')

Hello this is true

In [121]:
if False:
    print('Hello this is false')

In [124]:
print('Start Code...')

if False:
    print('Hello')
    print('How are you?')
    
print('End Code...')

Start Code...
How are you?
End Code...

In [128]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2


print(num1 > num2)
print(num1 == num2 * num3)
print(num1 != num2)
print(num1 > num2 * num3)

True
True
True
False

In [131]:
if num1 > num2:
    print('num1 is greater than num2')
    
if num1 == num2 * num3:
    print('num1 is equal to num2 times num3')
    
if num1 > num2 * num3:
    print('num1 is greater than num2 times num3')

num1 is greater than num2
num1 is equal to num2 times num3

## Using 'and'/'or' with If Statements

In [136]:
# Truth Tree for OR:
# T or T = T
# T or F = T
# F or T = T
# F or F = F

potential_candidate_gpa = 3.5
potential_candidate_act = 16

# Only pass through students who have at least a 2.5 GPA or at least a 25 ACT
if potential_candidate_gpa >= 2.5 or potential_candidate_act >= 25:
    print('Student meets minimum requirements. Moving them along...')
else:
    print('Reject student...')

Student meets minimum requirements. Moving them along...

In [140]:
# Truth Tree for AND:
# T and T = T
# T and F = F
# F and T = F
# F and F = F

potential_candidate_gpa = 1.5
potential_candidate_act = 16

# Only pass through students who have at least a 2.5 GPA and at least a 25 ACT
if potential_candidate_gpa >= 2.5 and potential_candidate_act >= 25:
    print('Student meets minimum requirements. Moving them along...')
else:
    print('Reject student...')

Reject student...

In [150]:
number = 1

if number == 4 or number == 5 or number == 6:
    print('The number is 4, 5, or 6')
else:
    print(f'Not 4,5, or 6 - it is actually {number}')

Not 4,5, or 6 - it is actually 1

### Else Statements

In [157]:
# An else statement runs when the if statement DIRECTLY above it evaluates to False

age = 30

if age >= 35:
    print('You are allowed to run for president.')

if age >= 18:
    print('You are allowed to vote.')
else:
    print('You must be at least 18 to vote.')

You are allowed to vote.

### Elif Statements

In [171]:
# An elif only runs when the if (or elif) directly above it evaluates to False

# Pretend we are checking tickets at an R-Rated movie. If the movie goer is an adult, just say thanks and enjoy
# if the movie goes is 14 and 17, they can see the movie with a parent, otherwise, cannot see movie

# Rules for entry
required_age = 18
with_parent_age = 14

# Customer Info
movie_goer_age = 16
has_parent = False

if movie_goer_age >= required_age:
    print('Thanks, enjoy the film')
elif movie_goer_age >= with_parent_age and has_parent:
    print('Cool, enjoy the movie with the folks!')
elif movie_goer_age >= with_parent_age and not has_parent:
    print("You're old enough to see this with a parent, but I don't see one here...")
else:
    print('You cannot see this film until you are older.')

You're old enough to see this with a parent, but I don't see one here...

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [178]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
person_age = 8 # Output: Your ticket is $5.00

if person_age >= 65:
    ticket *= (1-.25)
elif person_age < 10:
    ticket *= .50
else:
    ticket *= 1
    
print(f"Your ticket is ${ticket:.2f}")

Your ticket is $5.00

In [184]:
x = f'{2:.2f}'
print(x)

2.00

### Lists

##### Declaring Lists

In [186]:
# Ordered collection of data; indexable; mutable; iterable; elements of the list can be of any data type

list_1 = [] # Empty List Declaration
print(list_1)
print(type(list_1))


names = ['Mike', 'Colleen', 'David', 'Jennifer', 'Adam', 'Angela']
print(names)
print(type(names))

[]
<class 'list'>
['Mike', 'Colleen', 'David', 'Jennifer', 'Adam', 'Angela']
<class 'list'>

##### Indexing a List

In [212]:
# [start: stop: step] - start is inclusive, stop is exclusive
# 0-based index
# Makes a copy, original list is unaffected

# single element
print(names[3])

# Negative number start from the back of the list
print(names[-6])

# Slice the list from index 1 to the end of the list (leave the stop empty)
print(names[1:]) 

# Slice the list from index 1 up to but not including the 5-index
print(names[1:5])

# Slice from the beginning to a certain index (but not including) (leave the start empty)
print(names[:4])

# Slice the whole list - make a copy of the list
print(names[:])

# Slice every other element in the list
print(names[::2])

# Negative steps will walk backwards through the list - create a reversed copy of the list
print(names[::-1])


# Combo Time!
print(names[1:5:2])

Jennifer
Mike
['Colleen', 'David', 'Jennifer', 'Adam', 'Angela']
['Colleen', 'David', 'Jennifer', 'Adam']
['Mike', 'Colleen', 'David', 'Jennifer']
['Mike', 'Colleen', 'David', 'Jennifer', 'Adam', 'Angela']
['Mike', 'David', 'Adam']
['Angela', 'Adam', 'Jennifer', 'David', 'Colleen', 'Mike']
['Colleen', 'Jennifer']

In [214]:
# lists are mutable - meaning you can change the values using item assignment
# Item assignment -- list[index] = value

print(names)

names[3] = 'Jenny'

print(names)

['Mike', 'Colleen', 'David', 'Jennifer', 'Adam', 'Angela']
['Mike', 'Colleen', 'David', 'Jenny', 'Adam', 'Angela']

In [217]:
# Strings are IMmutable

my_string = 'Hello World'
print(my_string)

print(my_string[0])

my_string[0] = 'J'
print(my_string)

Hello World
H

TypeError: 'str' object does not support item assignment

##### .append()

In [218]:
# list.append(value) -> Add the value to the end of the list

print(names)

names.append('Julio')

print(names)

['Mike', 'Colleen', 'David', 'Jenny', 'Adam', 'Angela']
['Mike', 'Colleen', 'David', 'Jenny', 'Adam', 'Angela', 'Julio']

##### .insert()

In [220]:
# list.insert(index,value) -> Add the value at index and shift everything after to the right 1 index

print(names)

names.insert(2, 'James')

print(names)

['Mike', 'Colleen', 'David', 'Jenny', 'Adam', 'Angela', 'Julio']
['Mike', 'Colleen', 'James', 'David', 'Jenny', 'Adam', 'Angela', 'Julio']

##### .pop()

In [222]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

print(names)

cool_guy = names.pop()

print(names)

['Mike', 'Colleen', 'James', 'David', 'Jenny', 'Adam', 'Angela', 'Julio']
['Mike', 'Colleen', 'James', 'David', 'Jenny', 'Adam', 'Angela']

In [223]:
print(cool_guy)

Julio

In [225]:
# list.pop(index) -> will remove the element at index and return that item
print(names)

cool_gal = names.pop(1)

print(names)
print(cool_gal)

['Mike', 'Colleen', 'James', 'David', 'Jenny', 'Adam', 'Angela']
['Mike', 'James', 'David', 'Jenny', 'Adam', 'Angela']
Colleen


##### .remove()

In [226]:
# value to be removed , not index
# list.remove(value) -> remove the first instance of value

names.remove('David')
print(names)

['Mike', 'James', 'Jenny', 'Adam', 'Angela']

In [227]:
nums_list = [10, 20, 30, 40, 50, 40, 30, 20, 10]

print(nums_list)

nums_list.remove(30)
print(nums_list)

[10, 20, 30, 40, 50, 40, 30, 20, 10]
[10, 20, 40, 50, 40, 30, 20, 10]

In [228]:
nums_list.remove(30)
print(nums_list)

[10, 20, 40, 50, 40, 20, 10]

In [229]:
random_list = [1, 3, 4, 6, 2, 3, 1, 2, 3, 5, 1, 2, 7, 8, 3, 2, 3, 1]

while 3 in random_list:
    random_list.remove(3)
    
print(random_list)

[1, 4, 6, 2, 1, 2, 5, 1, 2, 7, 8, 2, 1]

##### del keyword

In [232]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

print(names)

del names[2]

print(names)

['Mike', 'James', 'Jenny', 'Adam', 'Angela']
['Mike', 'James', 'Adam', 'Angela']

In [233]:
del names[10]

IndexError: list assignment index out of range

##### Concatenating Two Lists

In [ ]:
# will append two lists together, not add up the elements in each list

##### Lists Within Lists

In [ ]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

### For Loops

In [234]:
# for <keyword> in <iterable>:
#     <statement>

print('Begin Loop')

nums = [5, 10, 15, 20, 25]

for num in nums:
    print(num)
    
    
print('End Loop')

Begin Loop
5
10
15
20
25
End Loop

In [237]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for color in colors:
    print(f"My favorite color is {color}!")

My favorite color is red!
My favorite color is orange!
My favorite color is yellow!
My favorite color is green!
My favorite color is blue!
My favorite color is indigo!
My favorite color is violet!

In [239]:
for color in colors:
    print(color)
print('Hello World')

red
orange
yellow
green
blue
indigo
violet
Hello World

##### Continue Statement

In [240]:
list_to_use = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# will continue to next iteration

In [243]:
for element in list_to_use:
    if element == 50:
        continue
    print(element)
    print('Hello')
    print(f'the number is {element}')

10
Hello
the number is 10
20
Hello
the number is 20
30
Hello
the number is 30
40
Hello
the number is 40
60
Hello
the number is 60
70
Hello
the number is 70
80
Hello
the number is 80
90
Hello
the number is 90
100
Hello
the number is 100

##### Break Statement

In [ ]:
# will break out of current loop

In [245]:
for element in list_to_use:
    if element == 50:
        break
    print(element)
    print('Hello')
    print(f'the number is {element}')
    
print('Loop has been terminated')

10
Hello
the number is 10
20
Hello
the number is 20
30
Hello
the number is 30
40
Hello
the number is 40
Loop has been terminated

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [247]:
another_list = []

for num in list_to_use:
    # do something here - implement late
    pass
    
print(list_to_use)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [250]:
def some_func():
    pass

In [251]:
if True:
    pass

##### Nested/Double For Loops

### While Loops

In [261]:
# while <conditional>:
#     <statement to run while condition is true>

from random import randint

random_number = randint(1,10)
print(random_number)

7

In [265]:
random_number = randint(1,10)
while random_number != 5:
    print(random_number)
    random_number = randint(1,10)
    
    
print('Finally:', random_number)

9
7
6
3
2
9
1
4
4
4
3
4
8
6
Finally: 5

##### Looping 'While True'

In [266]:
while True:
    ask = input('What would you like to do? ')
    if ask == 'quit':
        break
    else:
        print(f"You want to {ask}")

What would you like to do? dance
You want to dance
What would you like to do? sing
You want to sing
What would you like to do? code
You want to code
What would you like to do? sleep
You want to sleep
What would you like to do? quit

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
list_num = []

# 0
# 1
# 8
# 27
# 64
# 125
# 216
# 343
# 512
# 729
# 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [267]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

if 10 > 10000:
    print('Hello')
else:
    print('Goodbye')

Goodbye

In [271]:
for x in [1, 2, 3, 4, 5]:
    if x == 14:
        print('Hello')
        break
else:
    print('Goodbye')

Goodbye

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>